/* Inspiration taken from cameronsworld.net, a great site. I made the scrollbar buttons myself. You can use this on your site. */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: #000000;
    background-size: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
    border-left: ridge 2px #929292;
    border-top: ridge 2px #929292;
    border-right: ridge 2px rgb(0, 0, 0);
    border-bottom: ridge 2px rgb(0, 0, 0);
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: #d0d0d0;
  }
  ::-webkit-scrollbar-button {
    background-color: darkgrey;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAPBAMAAABKPLFCAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUAAACGhILr6ulbWlqop6ddXV0hISHk4+MAAABubm3///8cDMtbAAAAAXRSTlMAQObYZgAAAAFiS0dECmjQ9FYAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgChMNNQqYsOkJAAAAfElEQVQY02MQhAABQRTAABVlEFICA0EIpYjGpZ60CUTaGcoNQpVWTodIlxmBuaqtEGl3JXUnED+sCCKtngqWNptmBJY2KwKqF1RS7YTZPSMIyFVOV08GSytnJith6lYpUiqB2B0RhM1uuMtVsbucusGCTZoRJYpgACoqCABTOTzVZ8THeQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNi0xMC0xOVQxNTo1MToyOCswMjowMPJE7xwAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTYtMTAtMTlUMTU6NTE6MjgrMDI6MDCDGVegAAAAAElFTkSuQmCC);
    width: 15px;
    height: 15px;
  }
  ::-webkit-scrollbar-button:vertical:start {
    background-position: -45px 0;
  }
  ::-webkit-scrollbar-button:vertical:end {
    background-position: 0 0;
  }
  ::-webkit-scrollbar-button:horizontal:start {
    background-position: -15px 0;
  }
  ::-webkit-scrollbar-button:horizontal:end {
    background-position: -30px 0;
  }