body {
    background-color: black;
    background-image: url("image.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: rgb(78, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor:url("cur3.png"), auto;

}


h1:before {
    content: ' \22D6' ' \25D6';
}

h1:after {
    content: ' \25D7' ' \22D7';
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function:cubic-bezier(0.4, 0, 1, 1);
    animation-duration: 2.5s;
}

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
}

.prio {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 3.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    padding: 20px;
}

.box {
    margin: auto;
    background-color: #bc00a06c;
    padding: 10px;
    width: 400px;
    scale: 1;
    cursor:url("cur3.png"), auto;
}

#glist {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 400px;
    height: 450px;
    padding: 0;
    text-align: center;
    cursor:url("cur3.png"), auto;
}

#gsearchbar {
    outline: none;
    width: 374px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.317);
    padding: 12px;
    margin-bottom: 10px;
    transition: 2s ease-out;
    background-color: #000000;
    align-self: center;
    cursor:url("cur3.png"), auto;
}

#gsearchbar:hover {
    background-color: #640062;
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.761);
    cursor:url("cur3.png"), auto;
}

#gsearchbar:focus {
    background-color: #8b00db;
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.761);
    color: rgb(0, 0, 0);
    cursor:url("cur3.png"), auto;
}

#glist h2 {
    display: block;
    font: 21px;
    border: 1px solid #7b0089;
    margin: -1px 0 0 0;
    background-color: #5b0058;
    padding: 12px;
    font-weight: bold;
    user-select: text;
    position: sticky;
    cursor:url("cur3.png"), auto;
}

#glist a {
    display: block;
    text-decoration: inherit;
    color: #ffffff;
    font-size: 18px;
    border: 1px solid #400094;
    margin-top: -1px;
    background-color: #3f003e;
    padding: 12px;
    transition: 0.2s ease;
    cursor:url("cur3.png"), auto;
}

#glist a:hover {
    background-color: #11ff0083;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    cursor:url("cur3.png"), auto;
}

#scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
}

#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 10s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateX(100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.grad {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 255, 0, 0);
    color: rgb(255, 217, 0);
    text-align: left;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 255, 0, 0);
    color: rgb(255, 217, 0);
    text-align: left;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rainbow {
    text-align: center;
    text-shadow: #000000;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 3.5s;
}


.rainbow_text_animated {
    background: linear-gradient(to right, #ff0000, #ff8400, #ffee00, #2bff00, #00e5ff, #1e00ff, #ff00b7, #ff0000, #ff7700, #fffb00, #15ff00, #00ffc8, #0022ff, #b700ff, #ff0000, #ff8400, #ffee00, #2bff00, #00e5ff, #1e00ff, #ff00b7, #ff0000, #ff7700, #fffb00, #15ff00, #00ffc8, #0022ff, #b700ff, #ff0000, #ff8400, #ffee00, #2bff00, #00e5ff, #1e00ff, #ff00b7, #ff0000, #ff7700, #fffb00, #15ff00, #00ffc8, #0022ff, #b700ff, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: #ffffff00;
    animation: rainbow_animation 20s linear infinite;
    background-size: 500% 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: wavy;
    text-decoration-thickness: 2;
    text-shadow: #000000;
}

@keyframes rainbow_animation {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.jacquarda-bastarda-9-regular {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  }

hr {
    visibility: hidden;
}
